<div class="resumen-pedido-contenedor">
  <!-- Cliente -->
  <div class="resumen-header">
    <h2>Seleccionar cliente</h2>
    <input type="text" [(ngModel)]="cliente" (blur)="actualizarComentario()" placeholder="Nombre o número del cliente" />
  </div>

  <!-- Lista de productos -->
  <div class="resumen-productos">
    <div *ngFor="let item of pedido" class="producto-linea">
      <div class="producto-linea-continua">
        <div class="detalle">
          <input
            type="number"
            class="cantidad-input"
            [(ngModel)]="item.cantidad"
            min="1"
            (blur)="actualizarCantidad(item)"
          />
          {{ item.nombre }} – ${{ (item.precio * item.cantidad) | number:'1.0-0' }}
        </div>
        <div class="acciones">
          <button (click)="toggleComentario(item)" title="Comentario"><span class="material-icons comentario">comment</span></button>
          <button (click)="toggleDescuento(item)" title="Descuento"><span class="material-icons descuento">percent</span></button>
          <button (click)="eliminar(item)" title="Eliminar"><span class="material-icons eliminar">cancel</span></button>
        </div>
      </div>

      <div *ngIf="item.editandoComentario" class="campo-edicion">
        <textarea [(ngModel)]="item.comentario" placeholder="Comentario..."></textarea>
        <button (click)="confirmarComentario(item)" title="Aceptar"><span class="material-icons">check</span></button>
      </div>
      <div *ngIf="item.editandoDescuento" class="campo-edicion">
        <input type="number" [(ngModel)]="item.descuento" placeholder="Descuento en CLP" />
        <button (click)="confirmarDescuento(item)" title="Aceptar"><span class="material-icons">check</span></button>
      </div>
    </div>
  </div>

  <!-- Totales y acciones -->
  <div class="resumen-footer">


    <div class="resumen-totales">
      <span>{{ contarItems() }} ítems</span>
      <span>Subtotal: ${{ total | number: '1.0-0' }}</span>
      <span class="total">Total: ${{ calcularTotal() | number: '1.0-0' }}</span>
    </div>

    <div class="resumen-desglose">
      <span *ngFor="let cat of getConteoPorCategoria() | keyvalue">
        {{ cat.value }} {{ cat.key }}
      </span>
    </div>

    <div class="resumen-action">
      <button class="cancelar" (click)="cancelarP.emit()"><span class="material-icons comentario">delete_forever</span></button>
      <button class="confirmar" (click)="confirmarcompra()">Confirmar pedido</button>
    </div>
  </div>
</div>
