.pedido-layout {
  display: flex;
  gap: 1rem;
  height: calc(100vh - 60px);
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.productos-panel {
  flex: 1;
  display: grid;
  overflow-y: auto;
}

.resumen-pedido {
  width: 500px;
}
