<div class="pedido-layout">
  <div class="productos-panel">
    <app-productos-panel
      [categorias]="categorias"
      [categoriaSeleccionada]="categoriaSeleccionada"
      [productosFiltrados]="productosFiltrados"
      (cambiarCategoria)="seleccionarCategoria($event)"
      (agregar)="agregarProducto($event)">
    </app-productos-panel>
  </div>

  <div class="resumen-pedido">
    <app-resumen-pedido
      [pedido]="pedido"
      [total]="total"
      [(cliente)]="nombreCliente"
      (quitar)="quitarProducto($event)"
      (confirmar)="confirmarPedido($event)"
      (cancelarP)="cancelarPedido()">
    </app-resumen-pedido>
  </div>
</div>
