<div class="pedido-layout">
  <app-productos-panel
    class="productos-panel"
    [categorias]="categorias"
    [categoriaSeleccionada]="categoriaSeleccionada"
    [productosFiltrados]="productosFiltrados"
    (cambiarCategoria)="seleccionarCategoria($event)"
    (agregar)="agregarProducto($event)">
  </app-productos-panel>

  <app-resumen-pedido
    class="resumen-pedido"
    [pedido]="pedido"
    [total]="total"
    [(cliente)]="nombreCliente"
    (quitar)="quitarProducto($event)"
    (confirmar)="confirmarPedido()"
    (cancelarP)="cancelarPedido()">
  </app-resumen-pedido>
</div>
