@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  color: #333;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* ==== CUSTOM UTILS (opcional) ==== */
.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

:root {
  //Backgrounds
  --background-primary: #121212;
  --background-bl: #06548e;
  --background-wh: #ffffff;
  --background-bl-light: #007bff;
  --background-green-light: #00b894 ;


  //Letras
  --letter-primary: #ffffff;
  --letter-secondary: #000000;
  --letter-danger: #d63031;

  //Hover
  --hover-bl: #06548e;

  //Placeholder
  --placeholder-background: linear-gradient(90deg, #cccccc 25%, #e0e0e0 50%, #cccccc 75%)
}
